
# Etherpad
ETHERPAD_API_KEY=
ETHERPAD_BASE_URL=
ETHERPAD_URL=

# FontAwesome
FONTAWESOME_NPM_AUTH_TOKEN=

# Github
GITHUB_REPO_NAME=
GITHUB_ORG_NAME=
GITHUB_INSTALLATION_ID=
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY_FILE=

# Redis
REDIS_HOST=172.17.0.1
REDIS_PASSWORD=
REDIS_PORT=
INDEX_NAME=

# SharePoint
SHAREPOINT_CLIENT_ID=
SHAREPOINT_TENANT=
SHAREPOINT_PRIVATE_KEY_FILE=
SHAREPOINT_PRIVATE_KEY_THUMBPRINT=
SHAREPOINT_BASE=

# Timesheet Portal
TSP_CLIENT_ID=
TSP_CLIENT_SECRET=

# Microsoft Graph
AZURE_APP_CLIENT_ID=
AZURE_APP_CLIENT_SECRET=
AZURE_TENANT_ID=

# OpenAI
OPENAI_API_KEY=
MODEL_TEMPERATURE=0.8

# Sentry.io
# SENTRY_AUTH_TOKEN=

# Langchain
SIMILARITY_THRESHOLD=0.8
# LANGCHAIN_API_KEY=
# LANGCHAIN_PROJECT=