/* .pagedjs_pages {
    
    margin: 0 auto;
} */

/* @media print {
  .pagedjs_page {
    background-color: white;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
    margin: 0in;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 0mm;
    margin-left: auto;
    margin-right: auto;
  }
} */


.pagedjs_page {
  background-color: white;
  box-shadow: 10px 12px 30px 0 rgba(0, 0, 0, 0.1);
  margin: 0in;
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 10mm;
  margin-left: auto;
  margin-right: auto;
}


/* .pagedjs_ .pagedjs_page:last-of-type {
    margin-bottom: 10mm;
}  */

/* show the margin-box */
/* 
.pagedjs_margin-top-left-corner-holder,
.pagedjs_margin-top,
.pagedjs_margin-top-left,
.pagedjs_margin-top-center,
.pagedjs_margin-top-right,
.pagedjs_margin-top-right-corner-holder,
.pagedjs_margin-bottom-left-corner-holder,
.pagedjs_margin-bottom,
.pagedjs_margin-bottom-left,
.pagedjs_margin-bottom-center,
.pagedjs_margin-bottom-right,
.pagedjs_margin-bottom-right-corner-holder,
.pagedjs_margin-right,
.pagedjs_margin-right-top,
.pagedjs_margin-right-middle,
.pagedjs_margin-right-bottom,
.pagedjs_margin-left,
.pagedjs_margin-left-top,
.pagedjs_margin-left-middle,
.pagedjs_margin-left-bottom {
    box-shadow: 0 0 0 1px inset var(--color-marginBox);
} */

@page :first {
  /* background: url(./backgrounds/image17-bg.jpeg) no-repeat; */
  /* background: url(/backgrounds/cover.jpg) no-repeat; */
  /* background-size: cover; */
  margin: 0;
}

@page {
  background: url(/logos/airwalk-logo.png) no-repeat;
  background-position: left 30px bottom 10px;
  background-size: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  z-index: -1000;
  size: A4;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 50px;

  /* width: 100%; */
  /* counter-reset: page; */
  @top-left-corner {
    background: #4ac7f0;
    content: "";
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    /* width: 100%; */
  }

  @top-center {
    background: #4ac7f0;
    content: string(heading);
    font-size: 9pt;
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    /* width: 100%; */
  }

  @top-right-corner {
    background: #4ac7f0;
    content: "";
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    /* width: 100%; */
  }

  @bottom-left-corner {
    background: #4ac7f0;
    content: "";
    height: 0.05cm;
    opacity: 0.5;
  }

  @bottom-left {
    background: #4ac7f0;
    content: "";
    height: 0.05cm;
    opacity: 0.5;
  }

  @bottom-center {
    background: #4ac7f0;
    content: "Technology, done right.";
    vertical-align: middle;
    font-size: 16px;
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    /* width: 100%; */
  }

  @bottom-right {
    background: #4ac7f0;
    content: counter(page);
    font-size: 16px;
    color: white;
    height: 1cm;
    /* opacity: 0.5; */
    text-align: center;
    width: 1cm;
  }

  @bottom-right-corner {
    background: #4ac7f0;
    content: "";
    height: 0.05cm;
    opacity: 0.5;
  }
}

h1 {
  break-before: always;
}

h1,
h2,
h3,
h4,
h5 {
  page-break-after: avoid;
}

table,
figure {
  page-break-inside: avoid;
}

/* Add the page counter to the pagedjs_margin-bottom-right-corner-holder */
/* .pagedjs_margin-content::after {
    content: "Page " counter(page);
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 46px;
    padding: 5px;
    color: red;
} */
.pagedjs_margin.pagedjs_margin-bottom-center.hasContent .pagedjs_margin-content {
  margin-top: 15px;
}