:root {
  --color-white: #fdfdfd;
  --shadow-black: rgba(0, 0, 0, 0.2);
  --margin: 4px;
  font-size: 18px;
}
html {
  color: #393939;
  font-family: "Heebo";
  /* font-size: 22px; */
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 768px;
}

html body h1 {
  color: #002b3d;
  /* color: #fff; */
  font-size: 28pt;
  margin: 0cm 0cm 0cm 0cm;
  break-before: always;
  width: 100%;
}

.pagedjs_page {
  background-color: var(--color-white);
  margin: 10px auto;
  flex: none;
  box-shadow: 0 0 0 1px var(--shadow-black);
}

@page {
  size: A4;
  @top-left {
    background: #4ac7f0;
    content: "";
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    width: 100%;
  }

  @top-center {
    background: #4ac7f0;
    content: "";
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    width: 100%;
  }

  @top-right {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }

  @bottom-center {
    background: #4ac7f0;
    content: "";
    display: block;
    height: 0.05cm;
    opacity: 0.5;
    width: 100%;
  }

  @bottom-right {
    background: #4ac7f0;
    content: "Page " counter(page) " of " counter(pages);
    height: 1cm;
    text-align: center;
    width: 1cm;
  }
}

@media print {
  h1 {
    page-break-before: always !important;
    break-before: always !important;
    -webkit-break-before: always !important;
  }
}
